<div>Please enter your credentials below</div>
<table>
  <tr>
    <td>Username</td>
    <td><input></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password"></td>
  </tr>
  <tr>
    <td><button>로그인</button></td>
    <td><button>회원가입</button></td>
  </tr>
</table>
