<div id="msg">Please enter your credentials below</div>
<table>
  <tr>
    <td>Username</td>
    <td><input id="id"></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input id="passwd" type="password"></td>
  </tr>
  <tr>
    <td><button id="login">로그인</button></td>
    <td><button id="join">회원가입</button></td>
  </tr>
</table>
